@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
}

h1, h2, h3, .serif-font {
  font-family: 'Playfair Display', serif;
}